<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  
  <div class="field">
    <%= f.label :tag_list, "Tags (seperated by commas)" %> 
    <%= f.text_field :tag_list %>
  </div>
  <%= f.fields_for :choices do |builder| %>
    <%= builder.label :description, "Description" %> <br/>
    <%= builder.text_field :description, :rows => 3 %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
