<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>
<p>
  <strong>Tags:</strong>
  <%= @question.tag_list %>
</p>
<ol>
  <% for choice in @question.choices %>
    <li><%= h choice.description %></li>
  <% end %>
</ol>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
